.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.contenedor {
    width: 95%;
    padding: 15px;
    text-align: justify;
    overflow: auto;
}

.contenedor p {
    font-family: 'miFuente3';
    font-size: 20px;
}

.contenedor a {
    font-family: 'miFuente3';
    font-size: 20px;
    margin-left: 10px;
    text-align: center;
}

.formulario {
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}

#contenedor {
    grid-area: contenedor;
    max-width: 1000px;
    min-height: 700px;
    background: #fff;
    margin: 0 auto;
}

.container2 {
    text-align: right;
    font-size: 20px;
}

.container {
    text-align: left;
    font-family: 'miFuente3';
    font-size: 20px;
}

.formulario__grupo-btn-enviar {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.button_for {
    width: 90%;
    background: #7f8c8d;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin: 20px;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 3px 0px #aebbbb;
    border-radius: 10px;
    cursor: pointer;
}

.button_for:hover {
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

.select-doc {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0;
    border: 0;
    font-family: 'miFuente3';
    font-size: 20px;
}

.select-doc:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

h1 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
    padding: 10px;
}

.formulario__grupo-input {
    position: relative;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.formulario__input {
    width: 90%;
    background: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 12px 20px;
    font-size: 20px;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
    margin-bottom: 0;
    display: none;
    color: #F66060;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}


/* ----- -----  Estilos para Validacion ----- ----- */

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    bottom: 60px;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__validacion-estado-email {
    color: #bb2929;
    bottom: 85px;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}


/*condicion para celular*/

@media (max-width: 640px) {
    .caja {
        grid-area: "header" " menu-h" "banner" "contenedor" "footer";
        width: 900px;
    }
    header {
        width: 100%;
        height: 100%;
    }
    .site-identity p {
        display: block;
    }
    #contenedor {
        width: 100%;
    }
    #contenido {
        width: 600px;
    }
    #banner img {
        width: 100%;
    }
    .formulario {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .button_for {
        display: block;
        width: 80%;
    }
    .input-contenedor {
        width: 80%;
    }
    input[type="text"],
    input[type="password"] {
        width: 95%;
    }
}


/*condicion para tablet*/

@media (max-width: 640px) and (max-width: 1280px) {
    .caja {
        grid-area: "header" " menu-h" "banner" "contenedor" "footer";
        width: 900px;
    }
    header {
        width: 100%;
        height: 100%;
    }
    .site-identity p {
        display: block;
    }
    #contenedor {
        width: 100%;
    }
    #contenido {
        width: 600px;
    }
    #banner img {
        width: 100%;
    }
    .formulario {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .button_for {
        display: block;
        width: 80%;
    }
    .input-contenedor {
        width: 80%;
    }
    input[type="text"],
    input[type="password"] {
        width: 95%;
    }
}


/*condicion para tablet*/

@media (max-width: 1280px) {
    .caja {
        grid-area: "header" " menu-h" "banner" "contenedor" "footer";
        width: 1000px;
    }
    header {
        width: 100%;
        height: 100%;
    }
    .site-identity p {
        display: block;
    }
    #contenedor {
        width: 100%;
    }
    #contenido {
        width: 600px;
    }
    #banner img {
        width: 100%;
    }
    .formulario {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .button_for {
        display: block;
        width: 80%;
    }
    .input-contenedor {
        width: 80%;
    }
}

@media(min-width:768px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}