h1 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
    padding: 10px;
}

#txt_nosotros {
    font-size: 20px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

#imgbienvenidos {
    width: 100%;
    padding: 15px;
}