<h1>BIENVENIDOS</h1>
<img src="assets/pictures/enBike-1.png" alt="" id="imgbienvenidos">
<p id="txt_nosotros">
    Anunciamos el lanzamiento de la página enBike, una página especializada en aquilar de bicicletas Scott, Cannondale, GW entre otras y al mejor precio ¿No ves el producto que necesitas? No hay problema, dentro de la página nos puedes contactar para preguntar
    por tu producto deseado, recuerda que día a día contamos con más y más productos. Recibimos todas las tarjetas, consignaciones en Nequi, Bancolombia y Davivienda. ¡Visita ya! enBike.com

</p>