<h1>GESTIÓN DE ALQUILAR</h1>
<h2>Lista de productos</h2>
<!--Lista de productos-->
<table class="table table-striped table-hover">
    <thead>
        <tr class="text-primary">
            <th scope="col">#</th>
            <th scope="col">Productos</th>
            <th scope="col">Precio</th>
            <th scope="col">Tamaño</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody id="tbody">
        <tr *ngFor="let x of items">
            <th scope="row">1</th>
            <td class="table_productos">
                <img src="assets/pictures/bicicleta montaña/ima1.jpg" alt="">
                <h6 class="title">{{x.marca}}</h6>
            </td>
            <td class="table_precio">$<span>{{x.precio}}</span></td>
            <td class="table_tamano">{{x.tamano}}</td>
            <td class="table_cantidad">{{x.cantidad}}</td>
            <td class="tabla_botones">
                <!--<button class="btn btn-info sumar">+</button>-->
                <!--<button class="btn btn-success disminuir">-</button>-->
                <button class="delete btn btn-danger" (click)="eliminar(x.id)">x</button>
            </td>
        </tr>
    </tbody>
</table>

<br>
<!--Fechas de aquilar-->
<div class="card1">
    <label for="FechaI"><i class="fa fa-user"></i> Fecha de inicio</label>
    <input [(ngModel)]="s.fechaInicial" type="Date" id="FechaI" name="FechaI" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask required/>
    <br>
    <label for="FechaFin"><i class="fa fa-user"></i> Fecha de entrega</label>
    <input [(ngModel)]="s.fechaFinal" [(ngModel)]="s.fechaEntrega" type="Date" id="FechaFin" name="FechaFin" data-inputmask="'alias': 'dd/mm/yyyy'" required/>
    <br>
</div>

<!--Resumen productos seleccionados-->
<p>Resumen productos seleccionados</p>
<div class="row1">
    <div class="col-75">
        <div class="container2">
            <form (submit)="Guardar()" ngNativeValidate action="/action_page.php">
                <div class="row1">

                    <!--Direccion-->
                    <div class="col-50 direcionfac">
                        <div id="formularioDireccion">
                            <h3>Dirección de facturación</h3>
                            <label for="fname"><i class="fa fa-user"></i> Nombre</label>
                            <input [(ngModel)]="m.nombre" type="text" id="fname" name="firstname" placeholder="John M" required>
                            <label for="fape"><i class="fa fa-user"></i> Apellido</label>
                            <input [(ngModel)]="m.apellido" type="text" id="fape" name="firstape" placeholder="Doe" required>
                            <label for="email"><i class="fa fa-envelope"></i> Email</label>
                            <input [(ngModel)]="m.email" type="email" id="email" name="email" placeholder="john@example.com" required>
                            <label for="adr"><i class="fa fa-address-card-o"></i> Dirección</label>
                            <input [(ngModel)]="m.direccion" type="text" id="adr" name="address" placeholder="Carrera 123 # 45 -67" required>
                            <label for="city"><i class="fa fa-institution"></i> Ciudad</label>
                            <input [(ngModel)]="m.ciudad" type="text" id="city" name="city" placeholder="Bogotá" required>

                            <div class="row">
                                <div class="col-50">
                                    <label for="state">Departamento</label>
                                    <input [(ngModel)]="m.departamento" type="text" id="state" name="state" placeholder="Bogotá" required>
                                </div>
                                <div class="col-50">
                                    <label for="telephone">Teléfono</label>
                                    <input [(ngModel)]="m.telefono" type="text" id="telephone" name="telephone" placeholder="6011234567" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Pago-->
                    <div class="col-50">
                        <div id="formularioPago">
                            <h3>Pago</h3>
                            <label for="fname">Tarjetas aceptadas</label>
                            <div class="icon-container">
                                <i class="fa fa-cc-visa" style="color:navy;"></i>
                                <i class="fa fa-cc-amex" style="color:blue;"></i>
                                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                <i class="fa fa-cc-discover" style="color:orange;"></i>
                            </div>
                            <label for="cname">Nombre en tarjeta</label>
                            <input [(ngModel)]="p.nombre" type="text" id="cname" name="cardname" placeholder="John More Doe" required>
                            <label for="ccnum">Número de tarjeta de crédito</label>
                            <input [(ngModel)]="p.numero" type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444" required>
                            <label for="expmonth">Vencimiento</label>
                            <input [(ngModel)]="p.vencimiento" type="date" id="expmonth" name="expmonth" placeholder="DD/MM/AAAA" required>
                            <div class="row">
                                <div class="col-50">
                                    <label for="cvv">CVV</label>
                                    <input [(ngModel)]="p.cvv" type="text" id="cvv" name="cvv" placeholder="###" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="btn_Conf" class="btn btn-success btn-lg btn-block" name="Confirmar reserva" value="True" autofocus="autofocus" type="submit">Confirmar reserva</button>
            </form>
        </div>
    </div>
    <div class="col-25">
        <div class="container2 ">
            <h4 class="">Carrito de compras <i class="fa fa-shopping-cart"></i> <span class="price " style="color:black"> </span>
            </h4>
            <div id="tbody1">

            </div>
            <hr>
            <form>
                <div id="tbodyfooter">
                    <p>SubTotal <span [(ngModel)]="r.subTotal" id="subtotal" class="price itemCartSubTotal" style="color:black"><b>${{total.Subtotal}}</b></span></p>
                    <p>Dias <span id="diast" class="price itemCartDias" style="color:black"><b>0</b></span></p>
                    <p>Total <span id="totaldias" class="price itemCartTotalDias" style="color:black"><b>${{total.Subtotal}}</b></span></p>
                    <p>Multa <span [(ngModel)]="r.multa" id="multa" class="price itemCartMulta" style="color:black"><b>${{total.Multa}}</b></span></p>
                    <p>Iva <span [(ngModel)]="r.iva" id="iva" class="price itemCartIva" style="color:black"><b>${{total.Iva}}</b></span></p>
                    <p>Total Final <span [(ngModel)]="r.total" class="price itemCartTotal" style="color:black"><b>${{total.Total}}</b></span></p>
                </div>
            </form>
        </div>
    </div>
</div>