<!--Contactanos-->
<h1>¡Habla Con Nosotros!</h1>
<p>Siempre estamos encantados de atender tus dudas, preguntas y solicitudes.
    <br> Comunícate con nosotros para conocer más de nuestras bicicletas, productos, si tienes dudas sobre alguna alquización realizada en nuestra tienda física o e-commerce.
</p>
<form action="">
    <h2>¡Sigamos en contacto!</h2>
    <input type="text" name="Nombre" placeholder="Nombre" />
    <input type="text" name="Correo" placeholder="Correo" />
    <input type="text" name="Telefono" placeholder="Telefono" />
    <textarea name="mensaje" placeholder="Escriba aqui su mensaje"></textarea>
    <input type="button" value="ENVIAR" id="boton">
</form>