/*nosotros*/

h1 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
    padding: 10px;
}

#txt_nosotros {
    font-size: 20px;
    font-family: 'miFuente3';
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

#imgnosotros {
    width: 320px;
    height: 320px;
    margin-left: 30%;
}