<h1>QUIÉNES SOMOS</h1>

<p id="txt_nosotros">enBike.com amamos tu pasión!!! Las mejores marcas de ciclismo del mundo en un solo lugar desde 1989.
    <br /> La bicicleta es el medio de transporte más eficiente que existe, ayuda a combatir el cambio climático, alivia el tráfico urbano, te permite estar en forma y descubrir lugares que de otra forma jamás hubieras conocido, nos une y al mismo tiempo
    nos sirve de vía de escape.
    <br />
</p>
<!--<img src="/src/assets/pictures/quienes-somos.jpg" alt="" id="imgnosotros">-->